<div class="row">
<div class="row">
  <div class="col-sm-6 col-lg-3" *ngFor="let categoriesCard of categoriesCard">
    <mat-card class="cardWithShadow productcard overflow-hidden">
      <a routerLink="/widgets/cards">
        <img
          src="{{ categoriesCard.imgSrc }}"
          alt="imgSrc"
          class="w-100"
          mat-card-image
        />
      </a>
      <mat-card-content class="p-b-24 p-t-12 position-relative">
        <mat-card-title class="mat-headline-2 f-s-16 m-b-4">{{
          categoriesCard.title
        }}</mat-card-title>
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <h6 class="mat-body-2 f-w-600">${{ categoriesCard.items }}</h6>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
